@import "/src/assets/styles/variables";

$label-font-color: #4a4a4a;
$label-font-color-hover: #8dc647;

.header-container-fluid {
    border-bottom: 2px solid rgb(221, 221, 221);

    .global-header {
        max-width: 1300px;
        margin: auto;
        padding: 5px 15px;

        &-left {
            width: calc((100% / 12) * 7);
            font-size: 11px;
            height: 30px;

            .global-status-item {
                color: #3b82f6;
                p {
                    color: #6b7280;
                }
            }
        }

        &-right {
            width: calc((100% / 12) * 4);

            .subscribe-button {
                padding: 3px 10px;
                border: 1px solid $global-primary-color;
                border-radius: 5px;
                font-size: 12px;
                font-weight: 600;
                color: $global-primary-color;
            }
        }
    }

    .header-container {
        max-width: 1300px;
        height: 72px;
        padding: 0 15px;

        .header-left {
            width: calc(100% / 12) * 6;
            height: 100%;

            .header-logo {
                width: 140px;
                height: 40px;
            }
            .menu-left-options {
                padding: 5px 10px;
                width: fit-content;
                cursor: pointer;
                position: relative;

                .label {
                    font-size: 14px;
                    color: $label-font-color;
                    font-weight: 500;
                }

                &:hover {
                    .label {
                        color: $label-font-color-hover;
                    }

                    .menu-child-options {
                        display: flex;
                    }
                }

                .menu-child-options {
                    position: absolute;
                    width: 200px;
                    z-index: 1000;
                    margin-top: 3px;
                    border: 1px solid rgb(221, 221, 221);
                    border-radius: 5px;
                    background-color: white;
                    display: none;

                    .slash {
                        width: 100%;
                        border: 1px solid rgb(244, 244, 244);
                    }

                    .child-option {
                        font-size: 14px;
                        width: 100%;
                        color: $label-font-color;
                        font-weight: 600;
                        padding: 6px 12px;
                        text-align: left;
                        margin: auto;

                        .new-label {
                            padding: 2px 8px;
                            margin-left: 10px;
                            border-radius: 3px;
                            background-color: #ddeec8;
                            color: #8dc648;
                            font-size: 12px;
                        }

                        &:hover {
                            background-color: #f8f9fa;
                        }
                    }
                }
            }
        }

        .header-right {
            width: calc(100% / 12) * 4;
            position: relative;

            .anchor-option {
                color: #333333;
                font-size: 14px;

                &:hover {
                    color: $label-font-color-hover;
                }
            }

            .header-signup {
                font-size: 12px;
                border-radius: 5px;
                padding: 6px 10px;
                color: #fff;
                background-color: $label-font-color-hover;
                font-weight: 600;

                &:hover {
                    background-color: #69a235;
                }
            }

            .header-right-input {
                position: relative;

                .icon {
                    position: absolute;
                    left: 10px;
                    top: 12px;
                    color: #9ca3af;
                }

                .close {
                    right: 10px;
                    left: auto;
                    cursor: pointer;
                }

                &:hover {
                    input::placeholder {
                        color: #6b7280;
                    }

                    .icon {
                        color: #6b7280;
                    }
                }
            }

            .input-trending {
                padding: 5px 12px;
                border-radius: 5px;
                font-size: 14px;
                background-color: #f3f4f6;
                color: #9ca3af;

                &::placeholder {
                    padding-left: 16px;
                }
            }

            .active-trending {
                width: 100%;
            }

            .trending-search {
                width: 100%;
                margin-top: -10px;
                box-shadow: $global-box-shadow;
                background-color: white;
                top: 66px;

                &-title {
                    font-size: 12px;
                    color: #9ca3af;
                    text-align: left;
                }

                .slash {
                    width: 100%;
                    border: 1px solid rgb(244, 244, 244);
                }

                .search-item {
                    width: 100%;
                    font-size: 14px;
                    color: $label-font-color;
                    font-weight: 600;

                    &:hover {
                        background-color: #f8f9fa;
                    }

                    img {
                        width: 16px;
                        height: 16px;
                    }
                }
            }
        }

        .trending {
            position: relative;
            top: 20%;
            justify-content: flex-start;
            flex-direction: column;
            box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
            border-radius: 10px;
            border: 1px solid rgba(0, 0, 0, 0.05);

            .header-right-input {
                input {
                    margin-bottom: 10px;
                    border: none;
                    background-color: unset;
                    padding-left: 32px;

                    &::placeholder {
                        padding-left: 0;
                    }
                }
            }
        }

        .input-trending {
            padding: 5px 12px;
            border-radius: 5px;
            font-size: 14px;
            background-color: #f3f4f6;
            color: #9ca3af;

            &::placeholder {
                padding-left: 16px;
            }
        }

        .active-trending {
            width: 100%;
        }

        .trending-search {
            &-title {
                padding: 3px 10px;
            }
        }
    }
}

.dark {
    .header-container {
        .header-left .menu-left-options .label,
        .header-right .anchor-option {
            color: white;
        }
        .input-trending {
            background-color: rgb(47, 47, 47) !important;
            &::placeholder {
                color: rgb(172, 172, 172) !important;
            }

            .icon {
                color: rgb(172, 172, 172) !important;
            }

            .active-trending {
                background-color: rgb(172, 172, 172) !important;
            }
        }
    }
}

@media only screen and (max-width: 1199px) {
    .header-container-fluid {
        .header-container {
            max-width: 100%;
            padding: 0 5px;

            .header-left {
                width: calc(100% / 12) * 7;

                .header-logo {
                    width: 110px;
                    height: 30px;
                    object-fit: cover;
                }
                .menu-left-options {
                    width: fit-content;
                }
            }

            .header-right {
                width: calc(100% / 12) * 4.5;
            }
        }

        .global-header {
            &-left {
                width: calc((100% / 12) * 9);
            }

            &-right {
                width: calc((100% / 12) * 3);
            }
        }
    }
}
